.navbar {
  border-radius: 0;
  background-color: limegreen;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.search-container button {
float: right;
padding: 6px 10px;
margin-top: 8px;
margin-right: 16px;
background: #ddd;
font-size: 17px;
border: none;
cursor: pointer;
}

.search-container button:hover {
background: #ccc;
}

.everything {
float: right;
padding: 6px 10px;
margin-bottom: 10px;
font-size: 17px;
border: none;
color: black;
}